<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<head><title th:text="${title} ?: 'Product'">Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
<section layout:fragment="content"><h1>Products List</h1>

    <div class="homepage">

        <br><br><br>

        <div class="home-content">
            <div class="showcategory container p-5">
                <h1 class="d-flex justify-content-center">CHI TIẾT HÓA ĐƠN</h1>

                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th style="width: 300px; padding-left: 50px">Hình ảnh</th>
                        <th style="width: 400px; padding-left: 50px">Tên sản phẩm</th>
                        <th style="width: 200px; text-align: center">Đơn giá</th>
                        <th style="width: 200px; text-align: center">Số lượng</th>
                        <th style="text-align: center">Thành tiền</th>

                        <!--            <th>Description</th>-->
                        <!--            <th>Category</th>-->


                    </tr>


                    </thead>
                    <tbody>
                    <tr th:each="checkoutItem : ${checkouts}">
                        <td style="padding-left: 50px">
                            <div class="thumbnail"><img
                                    th:src="'data:image/png;base64, '+${checkoutItem.product_id.image}"/></div>
                        </td>
                        <td style="padding-left: 50px" th:text="${checkoutItem.product_id.name}"></td>
                        <td style="text-align: center"
                            th:text="${#numbers.formatDecimal(checkoutItem.product_id.price, 1, 'COMMA', 0, 'COMMA')}"></td>
                        <td style="text-align: center" th:text="${checkoutItem.quantity}"></td>
                        <td style="text-align: center" id="total-amount"
                            th:text="${#numbers.formatDecimal(checkoutItem.product_id.price * checkoutItem.quantity, 1, 'COMMA', 0, 'COMMA')}"></td>

                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="total-row" style="font-size: 20px;color: #e64a19;text-align: center"
                            th:text="${#numbers.formatDecimal(invoice.totalAmount, 1, 'COMMA', 0, 'COMMA')}"></td>
                    </tr>

                    </tbody>
                </table>

                <hr>
                <div class="d-flex justify-content-center">
                    <form action="">
                        <button class="btn btn-success" type="submit">Hủy đơn</button>
                    </form>
                    <form action="">
                        <button class="btn btn-success" type="submit">Xác nhận đơn hàng</button>
                    </form>
                </div>
                <hr>
                <br>

                <form style="width:300px; padding-left: 100px" action="/recheckout" method="GET">

                    <input name="id" type="hidden" th:value="${invoice.id}">

                    <div class="mb-3">
                        <label for="fullName" class="form-label">Họ và tên:</label>
                        <input disabled th:value="${invoice.fullName}" required type="text" id="fullName"
                               name="fullName" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Số điện thoại:</label>
                        <input disabled th:value="${invoice.phone}" required type="text" id="phone" name="phone"
                               class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ:</label>
                        <input disabled th:value="${invoice.address}" required type="text" id="address" name="address"
                               class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label for="paymentMethod" class="form-label">Phương thức thanh toán:</label>
                        <select disabled th:value="${invoice.paymentMethod}" name="paymentMethod" id="paymentMethod">
                            <option th:value="cash" th:selected="${invoice.paymentMethod == 'cash'}">Tiền mặt</option>
                            <option th:value="payos" th:selected="${invoice.paymentMethod == 'payos'}">Thanh toán trực
                                tuyến bởi PayOS
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="status" class="form-label">Trạng thái đơn hàng:</label>
                        <input disabled readonly th:value="${invoice.status}" required type="text" id="status"
                               name="status" class="form-control"/>
                    </div>

                    <!--                    <button th:if="${invoice.status == 'Chưa thanh toán'}" type="submit" class="checkout-button" id="checkout">Thanh toán</button>-->

                </form>

            </div>
        </div>
    </div>

    <!--    <div><a th:href="@{/admin/product/add}" class="btn btn-primary mb-3">Add New Product</a></div>-->


</section>
</body>
</html>
