<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
        <nav>
            <a href="index.html" class="logo"><img src="/img/logo.png" alt="Logo"></a>
            <ul class="nav-links">
                <li><a href="/admin/category/list">Catgory</a></li>
                <li><a href="/admin/product/list">Product</a></li>
                <li><a href="/admin/usermanager/list">User</a></li>
                </div>
            </ul>
            <div class="search">
                <input type="text" name="search" placeholder="Search..">
            </div>
            <div class="nav-icons">
                <a href="cart.html"><img src="img/giohang.png"  alt="Cart"></a>
            </div>
        </nav>
</header>
<section layout:fragment="content">
<!--<section layout:fragment="content">-->
<!--    <p>Page content goes here</p>-->
</section>
<footer>
<!--    <p>My footer</p>-->
<!--    <p layout:fragment="custom-footer">Custom footer here</p>-->
</footer>
</body>
</html>