<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<head><title> Cập nhật danh mục sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

<section layout:fragment="content" class="mt-5">
    <div class="homepage">

        <br><br><br>

        <div class="home-content">
            <div class="homeHeader container d-flex justify-content-center p-4"
                 style="background-color: black;color: white; ;width: 100%">
                <p class="h1 d-flex justify-content-center">CHỈNH SỬA DANH MỤC SẢN PHẨM</p>
            </div>
            <div class="showcategory container p-5">
<!--                <h1 class="d-flex justify-content-center">CHỈNH SỬA DANH MỤC SẢN PHẨM</h1>-->

                <form action="/admin/category/update" method="POST">

                    <div class="mb-3">
                        <label for="name" class="form-label">ID:</label>
                        <input type="text" id="id" name="id" class="form-control" th:value="${category.id}" readonly/>
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Tên danh mục:</label>
                        <input type="text" id="name" name="name" class="form-control" th:value="${category.name}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </form>

                <div>
                    <br>
                    <div th:if="${param.error}" class="btn btn-danger">
                        Cập nhật danh mục thất bại
                    </div>
                    <div th:if="${param.success}" class="btn btn-success">
                        Cập nhật danh mục thành công
                    </div>
                </div>

            </div>
        </div>
    </div>




</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
